{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{% block heading %}{{ heading }}{% endblock %}</h1>
<div class="content-section">
  <table id="programs_table" class="table table-hover">
  <thead>
      <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Activate/Deactivate</th>
      </tr>
  </thead>
  <tbody>
    {% for program in programs %}
      <tr>
          <td style="padding: 15px; text-align: left;">{{ program.name }}</td>
          {% if program.active %}
          <td style="padding: 15px; text-align: left;" class="text-success">{{ program.active }}</p></td>
          <td style="padding: 15px; text-align: left;"><a href="{{ url_for('programs_bp.change_status', id=program.id) }}" class="table-link">Deactivate</a></td>
          {% else %}
          <td style="padding: 15px; text-align: left;" class="text-danger">{{ program.active }}</p></td>
          <td style="padding: 15px; text-align: left;"><a href="{{ url_for('programs_bp.change_status', id=program.id) }}" class="table-link">Activate</a></td>
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock content %}
