<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {% if title %}{{ title }} - Boar {% else %}Welcome to Boar{% endif %}
    </title>
  </head>

<body>
{% block navbar %}
  <div align="center" >
    {% if current_user.is_anonymous %}
    <a href='{{ url_for('login') }}'>Login</a> |
    {% else %}
    <a href='{{ url_for('logout') }}'>Logout</a> |
    <a href='{{ url_for('user', username=current_user.username) }}'>Profile</a> |
    <a href='{{ url_for('organization', id=current_user.organization_id) }}'>Organization</a> |
    {% endif %}
    <a href='{{ url_for('new_booking') }}'>New Booking</a> |
    <a href='{{ url_for('open_bookings') }}'>Open Bookings</a> |
    <a href='{{ url_for('new_distributor') }}'>New Distributor</a> |
    <a href='{{ url_for('list_distributors') }}'>Distributors</a> |
    <a href='{{ url_for('new_program') }}'>New Program</a> |
    <a href='{{ url_for('view_programs') }}'>View Programs</a> |
  </div>
{% endblock %}

{% block content %}
  <div class='container'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class='alert alert-info' role='alert'>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

</body>
</html>
