{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="container">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{% block legend %}{{ legend }}{% endblock %}</legend>
        <div class="form-group">
          {{ form.distributor.label(class="form-control-label") }}
          {{ form.distributor(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.film.label(class="form-control-label") }}
          {{ form.film(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.program.label(class="form-control-label") }}
          {{ form.program(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.guarantee.label(class="form-control-label") }}
          {{ form.guarantee(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.percentage.label(class="form-control-label") }}
          {{ form.percentage(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.start_date.label(class="form-control-label") }}
          {{ form.start_date(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.end_date.label(class="form-control-label") }}
          {{ form.end_date(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.gross.label(class="form-control-label") }}
          {{ form.gross(class="form-control") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock content %}
