{% extends 'base.html' %}
{% block content %}

<h2>Boar - Box Office Payments</h2>

<p><a href="{{ url_for('.new_booking') }}">New Booking</a></p>

<p><a href="{{ url_for('.open_bookings') }}">Open Bookings</a></p>

<p><a href="{{ url_for('.new_distributor') }}">New Distributor</a></p>

<p><a href="{{ url_for('.list_distributors') }}">List Distributors</a></p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
